html {
  scroll-behavior: smooth;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#header-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: center no-repeat
    url("https://images.unsplash.com/photo-1482855549413-2a6c9b1955a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  color: #fff;
  height: 100vh;
}

#header-section section h1 {
  letter-spacing: 0.4em;
  font-size: 2.5em;
  margin: 0;
  color: white;
}

nav h1 {
  letter-spacing: 0.2em;
  font-size: 1.3em;
  color: white;
}

nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  letter-spacing: 0.4em;
  font-size: 1.3em;
  color: white;
}

button {
  font-family: "Montserrat", sans-serif;
}

nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  color: #fff;
  padding: 0 1em;
}

nav button:focus {
  outline: none;
  box-shadow: none;
}

#header-section > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  max-width: 55%;
  text-align: center;
}

#header-section h2 {
  margin: 0;
  font-size: 1.75em;
}

#header-section a {
  text-decoration: none;
}

button.callToAction {
  padding: 0.625em 1.25em;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-size: 1em;
  border: solid transparent;
  border-radius: 3px;
}

#about {
  display: flex;
  padding: 10em 4em;
}

.description {
  text-align: left;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1em;
}

.description a {
  text-decoration: none;
  color: #40ccd0;
}

.description a:hover {
  font-weight: bold;
}

#typeform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid thin #eee;
}

#typeform > :first-child {
  padding-bottom: 4em;
}

footer {
  display: flex;
  height: 5em;
  background-color: black;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1em;
}

#previous-events {
  padding: 10em 4em;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
}

#sponsored-streamers {
  padding: 10em 4em;
  background-color: white;
}

#sponsored-streamers > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}

#sponsored-streamers .description {
  padding: 0;
}

footer h1 {
  color: #fff;
  font-size: 1em;
  letter-spacing: 3em;
  line-height: 2em;
}

/* tablet and mobile view */
@media screen and (max-width: 760px) {
  #about {
    flex-direction: column;
    padding: 4em 1em;
  }

  #about > :last-child {
    margin-top: 2em;
  }

  .description {
    padding: 0;
  }

  footer h1 {
    letter-spacing: 1em;
  }
}

/* mobile view */
@media screen and (max-width: 475px) {
  #header-section > :first-child {
    font-size: 1em;
  }

  #header-section > :last-child {
    max-width: 100%;
    padding: 0 1em;
  }

  #header-section h2 {
    font-size: 1.5em;
  }

  #header-section h3 {
    font-size: 1em;
    margin: 2em 0;
  }

  button.callToAction {
    font-size: 1.2em;
  }

  #about {
    padding: 10em 0.5em;
  }

  #previous-events {
    padding: 10em 0.5em;
  }

  #previous-events iframe {
    width: 100%;
  }

  #sponsored-streamers {
    padding: 10em 0.5em;
  }

  #sponsored-streamers > section {
    display: flex;
    flex-direction: column;
  }
}
